<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Products</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="checkout_styles.css">
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid" style="background-color: #333;">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" style=" color:aliceblue" href="/main">Delicious</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li id="name"><a style=" color:aliceblue" href="">Hello <%= name %></a></li>
            <li id="products-link"><a style=" color:aliceblue" href="/products">Products</a></li>
            <li id="checkout-link"><a style=" color:aliceblue" href="/checkout">Checkout</a></li>
            <li id="order-link"><a style=" color:aliceblue" href="/order">Order</a></li>
            <li id="logout-link"><a style=" color:aliceblue" href="/logout">Log out</a></li>
          
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="container">
    <div class="col-md-6">
      <div class="table-container"></div>
      <% let totalPrice = 0 %> 
      <% let i = 0 %> 
      <% if (countCheckout) {%>
        Cart is empty.<br>
        Please visit our products page and add food to your cart.<br>
        <b>OR</b><br>
        See your order in order page.
      <% } %>
    
      
      <% checkout.forEach(function(order) { %>
        
      <table>
        <b>Name:</b> <%= order.name %><br>
        <b>Email:</b> <%= order.email %><br><br>
        <form id="delete" action="/deleteAllCheckouts" method="post">
          <input type="submit" value="Remove all items" class="remove-item" name="remove-item">
        </form>
        <br><br>
        <tr>
          <th>quantity</th>
          <th>product</th>
          <th>&#8362</th>
          <th>remove item</th>
        </tr>
          <% order.product.forEach(function(pro) { %>
          <tr>
            
            <td>(X<%= order.quantity[i] %>)</td>
            <td><%= pro %></td>
            <td><%= order.price[i] %></td>
            <td>
              <form id="zero" action="/checkout" method="post">
                <input type="submit" value="Remove item" class="remove-item" name="remove-item"> 
                <input type="hidden" value="<%= pro %>" name="product">
                <input type="hidden" value="<%= i %>" name="index">
              </form>
            </td>
          </tr>
          <% totalPrice += order.quantity[i]*order.price[i] %>
          <% i++ %>
      <% }); %>
      </table>
      
      
        <br>
        <b>Total price:</b> <%= totalPrice %>&#8362 
        <% }); %>
      </ul>
    </div>

    <div class="col-md-6">
      <form id="checkout-form" action="/orders" method="post">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" placeholder="Enter your full name" required><br><br>
        <label for="phone">Phone number:</label><br>
        <input type="tel" id="phone" name="phone" placeholder="Enter your phone number" required><br><br>
        <label for="address">Address:</label><br>
        <input type="text" id="address" name="address" placeholder="Enter your full address" required><br><br>
        <label for="comments">Comments:</label><br>
        <textarea id="comments" name="comments" rows="4" cols="50" placeholder="Add any special instructions or comments"></textarea><br><br>
        <input type="submit" class="sub" value="Order now" id="buy-button" onclick="showAlert()" name="submit">
        <input type="hidden" class="price" value="<%= totalPrice %>" name="totalPrice">
      </form>
    </div>
  </div>
  <footer>&copy; 2023 Lior Silberman. All rights reserved.</footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>
      let product_link = document.getElementById("products-link");
      let checkout_link = document.getElementById("checkout-link");
      let order_link = document.getElementById("order-link");
      const price = document.querySelector('[name="totalPrice"]').value;
      const form = document.querySelector('#checkout-form');
      const name = form.querySelector('[name="name"]');
      product_link.innerHTML = '<a style=" color:aliceblue"  href="/products">Products</a>';
      product_link.addEventListener("click", function(event) {
        event.preventDefault();
        window.location.href = "/products?targetPage=products";
      });
  
      checkout_link.addEventListener("click", function(event) {
        event.preventDefault();
        window.location.href = "/checkout?targetPage=checkout";
      });
      order_link.addEventListener("click", function(event) {
        event.preventDefault();
        window.location.href = "/order?targetPage=order";
      });


      function showAlert() {
        
        if (price > 0 && form.checkValidity()){
          alert('Order received. Cooking in progress. Email sent to you with all details.');
        }
      }

    </script>
</body>
</html>