<!DOCTYPE html>
<html dir="rtl" lang="he">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>הזמנות</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Rubik+Doodle+Shadow&family=Zeyada&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="checkout_styles.css">
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid" style="background-color: #632d18;">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="ronit">
          <a class="navbar-brand" href="/">Ronit's Cookies</a>
        </div>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right" >
            <li id="name"><a href="/">שלום <%= name %></a></li>
            <li id="products-link"><a href="/products">מוצרים</a></li>
            <li id="checkout-link"><a href="/checkout">קופה</a></li>
            <li id="order-link"><a href="/order">הזמנות</a></li>
            <li id="logout-link"><a href="/logout">התנתק</a></li>
          
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="container-fluid">
    <header>
      <button type="button" class="btn btn-primary fixed-button" data-toggle="modal" data-target="#ordersModal">
          <div class="iconCart">
              <img src="cart.png" alt="">
              <div class="totalQuantity">
              <% let ind = 0 %> 
              <% let totalQuantity = 0 %> 
              <% if (!countCheckout2) { %>
                  <% checkout2.forEach(function(order) { %>
                      <% order.product.forEach(function(pro) { %>
                          <% totalQuantity += order.quantity[ind] %>
                      <% ind += 1 %> 
                      <% }); %>
                  <% }); %>
                  <%= totalQuantity %>
              <% } else { %>
                  0
              <% } %>
              </div>
          </div>
      </button>
  </header>
    <% if (countOrders) {%>
      <header style="font-size: 30px; color:bisque">אין הזמנות קודמות</header><br>
    <% } else { %>
      <form id="deleteHistory" action="/deleteHistory" method="post" style="flex-direction: row; ">
        <input type="submit" value="מחק היסטוריה" class="remove-item" >
      </form>
    
    <% let totalPrice = 0 %> 
    <% let num = 1 %> 
    <% let i = 0 %> 
    <div class="row">
      
      <% order.forEach(function(or) { %>
        <div class="col-md-3" style="height: 340px;" >
          <b><%= num %>.</b><br><br>
          <b>שם:</b> <%= or.name %><br>
          <b>מייל:</b> <%= or.email %><br>
          <b>תאריך:</b> <%= or.date %> | <%= or.hour %><br>
          <b>פלאפון:</b> <%= or.phone %><br>
          <b>כתובת:</b> <%= or.address %><br>
          <b>הערות:</b> <%= or.comments %><br>
          <b>מוצרים:</b><br>
          <% or.products.forEach(function(pro) { %> 
            <%= or.prices[i] %>&#8362 <%= pro %> X<%=or.quantities[i] %><br>
            <% totalPrice += or.prices[i]*or.quantities[i] %>
            <% i++ %>
          <% }); %><br>
          <% i = 0 %>
          
          <b>סכום כולל:</b> <%= totalPrice %>&#8362<br><br> 
        </div>
        <% num++ %>
        <% totalPrice = 0 %>
      <% }); %>
      
    </div>
    <% } %>

    <div class="modal fade" id="ordersModal" tabindex="-1" role="dialog" aria-labelledby="ordersModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color:#333; font-size: large;" class="modal-title" id="ordersModalLabel">פרטי ההזמנה</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body" id="ordersList">
                <% let i = 0 %> 
                <% if (!countCheckout2) { %>
                    <% checkout2.forEach(function(order) { %>
                        <% order.product.forEach(function(pro) { %>
                            <p style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color:#333; font-size: large;"><%= pro %> - כמות: <%= order.quantity[i] %></p>
                        <% i += 1 %> 
                        <% }); %>
                    <% }); %>
                    
                <% } else { %>
                    <p style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color:#333; font-size: large;">לא נבחרו מוצרים עדיין.</p>
                <% } %>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color:#333; font-size: large; background-color:antiquewhite; width: auto; height:auto">סגור</button>
            <a href="/checkout?targetPage=checkout" class="btn btn-secondary" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color:#333; font-size: large; background-color:coral">
              עבור לקופה
            </a>
            </div>
        </div>
        </div>
    </div>
    </div>
  </div>
  </div>
  <footer>&copy; 2023 ליאור סילברמן. כל הזכויות שמורות.</footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>
      let product_link = document.getElementById("products-link");
      let checkout_link = document.getElementById("checkout-link");
      let order_link = document.getElementById("order-link");
      product_link.innerHTML = '<a href="/products">מוצרים</a>';
      product_link.addEventListener("click", function(event) {
        event.preventDefault();
        window.location.href = "/products?targetPage=products";
      });
  
      checkout_link.addEventListener("click", function(event) {
        event.preventDefault();
        window.location.href = "/checkout?targetPage=checkout";
      });
      order_link.addEventListener("click", function(event) {
        event.preventDefault();
        window.location.href = "/order?targetPage=order";
      });
    </script>
</body>
</html>